<div class="view">
  <div class="viewRow condition">
    <div class="column durationColumn">
      <div class="columnLabel">Duration</div>
      <div class="viewDisplay conditionClick"><span ><%- duration %></span></div>
      <div class="dataDisplay"><input class="edit duration" type="number" value="<%- duration %>"></div>
    </div>
    <div class="column conditionNameColumn">
      <div class="columnLabel">Name</div>
      <div class="viewDisplay conditionClick"><span ><%- name %></span></div>
      <div class="dataDisplay"><input class="edit conditionName" type="text" value="<%- name %>"></div>
    </div>
    <div class="column effectColumn">
      <div class="columnLabel">Effect</div>
      <div class="viewDisplay conditionClick"><span ><%- effect %></span></div>
      <div class="dataDisplay"><input class="edit effect conditionsInput" type="text" value="<%- effect %>"></div>
    </div>
    <div class="column commandColumn">
      <div class="columnLabel"><span>&nbsp;</span></div>
    </div>
  </div>
</div>

